<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="/js/aWapBE.js"></script>
<script type="text/javascript">
  var rainbowPalette = palette('tol-rainbow', 10).map(function(hex) {
                              return '#' + hex;
                            });

  window.chartColors = {
  	red: 'rgb(255, 99, 132, 0.8)',
  	orange: 'rgb(255, 159, 64, 0.8)',
  	yellow: 'rgb(255, 205, 86, 0.8)',
  	green: 'rgb(75, 192, 192, 0.8)',
  	blue: 'rgb(54, 162, 235, 0.8)',
  	purple: 'rgb(153, 102, 255, 0.8)',
  	grey: 'rgb(201, 203, 207, 0.8)'
  };
</script>
<style>
canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
</style>
