<!doctype html>
<html>

<head>
    <title>OP_RETURN stats</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script src="https://codepen.io/anon/pen/aWapBE.js"></script>
    <style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
    <h2 style="text-align:center">Number of transaction outputs and number of OP_RETURN</h2>
    <div style="width:100%;">
        <canvas id="op_ret_per_month"></canvas>
    </div>

    <div style="text-align: center;">
        <button id="all">all</button>
        <button id="last_five_year">last five years</button>
        <button id="last_two_year">last two years</button>
        <button id="last_year">last year</button>
    </div>
    <br><br><br><br>

    <h2 style="text-align:center">OP_RETURN sizes</h2>
    <div style="width:100%;">
        <canvas id="bar_canvas"></canvas>
    </div>
    <br><br><br><br>

    <h2 style="text-align:center">OP_RETURN protocols*</h2>
    <div style="width:100%;">
        <canvas id="op_ret_per_proto"></canvas>
    </div>
    <br><br><br><br>

    <h2 style="text-align:center">OP_RETURN protocols* last 30 days</h2>
    <div style="width:100%;">
        <canvas id="op_ret_per_proto_last_month"></canvas>
    </div>
    <br><br><br><br>

    <h2 style="text-align:center">OP_RETURN protocols* last year</h2>
    <div style="width:100%;">
        <canvas id="op_ret_per_proto_last_year"></canvas>
    </div>
    <br><br><br><br>

    <p>* protocols just mean the first 3 bytes of the OP_RETURN data, which can indicate the protocol but it's not an enfoced rule by the Bitcoin consensus</p>

    <script>
        function adjust(elements) {
            var len = labels_op_ret_per_month.length;
            config_op_ret_per_month.data.labels = labels_op_ret_per_month.slice(len-elements,len);
            config_op_ret_per_month.data.datasets[0].data=data_any_outputs_per_month.slice(len-elements,len);
            config_op_ret_per_month.data.datasets[1].data=data_op_return_per_month.slice(len-elements,len);
            window.op_ret_per_month.update();
        }
        document.getElementById('last_five_year').addEventListener('click', function() {
            adjust(61);
        });
        document.getElementById('last_two_year').addEventListener('click', function() {
            adjust(25);
        });
        document.getElementById('last_year').addEventListener('click', function() {
            adjust(13);
        });
        document.getElementById('all').addEventListener('click', function() {
            adjust(labels_op_ret_per_month.length);
        });


        function tooltip_percentage(tooltipItem, data) {
            var allData = data.datasets[tooltipItem.datasetIndex].data;
            var tooltipLabel = data.labels[tooltipItem.index];
            var tooltipData = allData[tooltipItem.index];
            var total = 0;
            for (var i in allData) {
                total += allData[i];
            }
            var tooltipPercentage = Math.round((tooltipData / total) * 100);
            return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
        }


        var labels_op_ret_per_month = {{ txo_per_month_labels }};

        var data_any_outputs_per_month = {{ txo_per_month_data }};

        var data_op_return_per_month = {{ op_ret_per_month_data }};

        var config_op_ret_per_month = {
            type: 'line',
            data: {
                labels: labels_op_ret_per_month,
                datasets: [
                    {
                        label: "Any Outputs",
                        data: data_any_outputs_per_month,
                        yAxisID: "y-axis-1",
                        fill: true,
                        backgroundColor: 'rgba(54, 162, 235,0.5)',
                    },
                    {
                        label: "OP_RETURN Outputs",
                        data: data_op_return_per_month,
                        yAxisID: "y-axis-2",
                        fill: true,
                        backgroundColor: 'rgba(54, 162, 235,0.5)',
                    }
                ]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Months'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        id: "y-axis-1",
                        position: "left",
                        scaleLabel: {
                            display: true,
                            labelString: 'TXO'
                        }
                    },{
                        display: true,
                        id: "y-axis-2",
                        position: "right",
                        scaleLabel: {
                            display: true,
                            labelString: 'OP_RETURN'
                        }
                    }]
                }
            }
        };


        var config_op_ret_per_proto = {
            type: 'pie',

            data: {
                datasets: [{
                    data: {{ op_ret_per_proto_data }},
                    backgroundColor: palette('tol-rainbow', 10).map(function(hex) {
                                        return '#' + hex;
                                      }),
                    label: 'Dataset 1'
                }],
                labels: {{ op_ret_per_proto_labels }}
            },

            options: {
                responsive: true,
                legend: {
                    position: 'right'
                },
                tooltips: {
                   callbacks: {
                       label: tooltip_percentage
                   }
                }
            }



        };


        var config_op_ret_per_proto_last_month = {
            type: 'pie',
            data: {
                datasets: [{
                    data: {{ op_ret_per_proto_last_month_data }},
                    backgroundColor: palette('tol-rainbow', 10).map(function(hex) {
                                        return '#' + hex;
                                      }),
                    label: 'Dataset 1'
                }],
                labels: {{ op_ret_per_proto_last_month_labels }}
            },

            options: {
                responsive: true,
                legend: {
                    position: 'right'
                },
                tooltips: {
                   callbacks: {
                       label: tooltip_percentage
                   }
                }
            }
        };



        var config_op_ret_per_proto_last_year = {
            type: 'pie',
            data: {
                datasets: [{
                    data: {{ op_ret_per_proto_last_year_data }},
                    backgroundColor: palette('tol-rainbow', 10).map(function(hex) {
                                        return '#' + hex;
                                      }),
                    label: 'Dataset 1'
                }],
                labels: {{ op_ret_per_proto_last_year_labels }}
            },

            options: {
                responsive: true,
                legend: {
                    position: 'right'
                },
                tooltips: {
                   callbacks: {
                       label: tooltip_percentage
                   }
                }
            }
        };


        var bar_data = {
            labels: {{ op_ret_size_labels  }},
            datasets: [{
                label: 'size [bytes]',
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 0.5)',
                borderWidth: 1,
                data: {{ op_ret_size_data  }}
            }]
        };
        var bar_config = {
            type: 'bar',
            data: bar_data,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                }
            }
        }




        window.onload = function() {

            var ctx_op_ret_per_month = document.getElementById("op_ret_per_month").getContext("2d");
            window.op_ret_per_month = new Chart(ctx_op_ret_per_month, config_op_ret_per_month);

            var ctx_op_ret_per_proto = document.getElementById("op_ret_per_proto").getContext("2d");
            window.op_ret_per_proto = new Chart(ctx_op_ret_per_proto, config_op_ret_per_proto);

            var ctx_op_ret_per_proto_last_month = document.getElementById("op_ret_per_proto_last_month").getContext("2d");
            window.ctx_op_ret_per_proto_last_month = new Chart(ctx_op_ret_per_proto_last_month, config_op_ret_per_proto_last_month);

            var ctx_op_ret_per_proto_last_year = document.getElementById("op_ret_per_proto_last_year").getContext("2d");
            window.ctx_op_ret_per_proto_last_year = new Chart(ctx_op_ret_per_proto_last_year, config_op_ret_per_proto_last_year);

            var ctx_bar_data = document.getElementById("bar_canvas").getContext("2d");
            window.ctx_bar_data = new Chart(ctx_bar_data, bar_config);

        };


    </script>
</body>

</html>
