<!doctype html>
<html>

<head>
    <title>OP_RETURN stats</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script src="https://codepen.io/anon/pen/aWapBE.js"></script>
    <style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>

    <div style="width:90%;">
        <canvas id="tx_per_template"></canvas>
    </div>
    <br><br>

    <div style="width:90%;">
        <canvas id="tx_per_template_last_month"></canvas>
    </div>
    <br><br>

    <script>

        function tooltip_percentage(tooltipItem, data) {
            var allData = data.datasets[tooltipItem.datasetIndex].data;
            var tooltipLabel = data.labels[tooltipItem.index];
            var tooltipData = allData[tooltipItem.index];
            var total = 0;
            for (var i in allData) {
                total += allData[i];
            }
            var tooltipPercentage = Math.round((tooltipData / total) * 100);
            return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
        }

        var config_tx_per_template = {
            type: 'pie',
            data: {
                datasets: [{
                    data: {{ tx_per_template_data }},
                    backgroundColor: palette('tol-rainbow', 10).map(function(hex) {
                                        return '#' + hex;
                                      }),
                    label: 'Dataset 1'
                }],
                labels: {{ tx_per_template_labels }}
            },

            options: {
                title:{
                    display:true,
                    text:'Transacrions Outputs per Script template'
                },
                responsive: true,
                legend: {
                    position: 'right'
                },
                tooltips: {
                   callbacks: {
                       label: tooltip_percentage
                   }
                }
            }
        };

        var config_tx_per_template_last_month = {
            type: 'pie',
            data: {
                datasets: [{
                    data: {{ tx_per_template_last_month_data }},
                    backgroundColor: palette('tol-rainbow', 10).map(function(hex) {
                                        return '#' + hex;
                                      }),
                    label: 'Dataset 1'
                }],
                labels: {{ tx_per_template_last_month_labels }}
            },

            options: {
                title:{
                    display:true,
                    text:'Transaction Outputs per Script template in the last 30 days'
                },
                responsive: true,
                legend: {
                    position: 'right'
                },
                tooltips: {
                   callbacks: {
                       label: tooltip_percentage
                   }
                }
            }
        };



        window.onload = function() {



            var ctx_tx_per_template = document.getElementById("tx_per_template").getContext("2d");
            window.ctx_tx_per_template = new Chart(ctx_tx_per_template, config_tx_per_template);

            var ctx_tx_per_template_last_month = document.getElementById("tx_per_template_last_month").getContext("2d");
            window.ctx_tx_per_template_last_month = new Chart(ctx_tx_per_template_last_month, config_tx_per_template_last_month);
        };





    </script>
</body>

</html>
