<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        {% include "header.html" %}
    </head>
    <body style="font-family: sans-serif;">
    <div>
      <h2><a href="/">{{ site.title }}</a></h2>
      {{ page.content }}
    </div>
  </body>
</html>
